[class^='icon-'], [class*=' icon-'] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background: url("../img/sprite.png") -9999px -9999px no-repeat; }

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  [class^='icon-'], [class*=' icon-'] {
    background-image: url("../img/sprite@2x.png");
    background-size: 200px 200px; } }

.icon-ig {
  width: 21px;
  height: 21px;
  background-position: 0 -23px; }

.icon-fb {
  width: 12px;
  height: 22px;
  background-position: -23px -23px; }

.icon-stages1 {
  width: 66px;
  height: 66px;
  background-position: -37px 0; }

.icon-stages2 {
  width: 77px;
  height: 74px;
  background-position: -105px 0; }

.icon-stages3 {
  width: 48px;
  height: 67px;
  background-position: 0 -66px; }

.icon-stages4 {
  width: 63px;
  height: 63px;
  background-position: -50px -76px; }

@font-face {
  font-family: 'GothamProRegular';
  src: url("../fonts/GothamProRegular.eot");
  src: local("../fonts/GothamProRegular"), local("GothamProRegular"), url("../fonts/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayRegular';
  src: url("../fonts/Raleway-Regular.eot");
  src: local("../fonts/Raleway-Regular"), local("Raleway-Regular"), url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("../fonts/Raleway-Thin.eot");
  src: local("../fonts/Raleway-Thin"), local("Raleway-Thin"), url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  position: relative; }

body {
  margin: 0;
  font: 15px/38px 'GothamProRegular', sans-serif;
  color: #605d5d; }

body,
html {
  padding: 0;
  height: 100%; }

a:hover {
  text-decoration: none; }

p {
  margin-bottom: 10px; }

h1,
.h1 {
  font: 30px/35px 'Raleway', sans-serif;
  margin-bottom: 50px; }

.btn {
  display: inline-block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #8d8484;
  font-size: 20px;
  font-weight: normal;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  background: transparent;
  border: 2px solid #a29c9c;
  line-height: 1;
  padding: 10px 25px 10px;
  transition: .3s ease; }
  .btn:hover {
    color: #fff;
    opacity: 1;
    background: #a29c9c; }
  .btn:active, .btn:focus, .btn:active:focus {
    outline: none;
    box-shadow: none !important; }
  .btn-light {
    background: #fff;
    border: none;
    font-size: 18px;
    color: #585252; }
    .btn-light:hover {
      background: #eed882;
      color: #585252; }

button {
  cursor: pointer; }

.form-group label {
  font-size: 14px;
  margin-bottom: 5px; }

.form-control {
  border: none;
  border-radius: 0;
  line-height: 40px;
  padding: 0 20px;
  background: #fff;
  font-size: 16px; }
  .form-control:focus {
    box-shadow: none;
    color: #000; }
  .form-control:-ms-input-placeholder {
    color: #999;
    opacity: 1;
    font-size: 16px; }
  .form-control::placeholder {
    color: #999;
    opacity: 1;
    font-size: 16px; }

textarea {
  resize: none;
  overflow: hidden;
  height: 120px; }

.wrap {
  min-width: 320px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%; }

.social {
  list-style: none;
  margin: 0 -10px;
  padding-left: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: top; }
  .social:hover li a .icon-ig {
    background-position: 0 0; }
  .social:hover li a .icon-fb {
    background-position: -23px 0; }
  .social li {
    padding: 0 10px;
    display: inline-block;
    vertical-align: top; }
    .social li a:hover .icon-ig {
      background-position: 0 -23px; }
    .social li a:hover .icon-fb {
      background-position: -23px -23px; }

.fs-14 {
  font-size: 14px !important; }

.fs-16 {
  font-size: 16px !important; }

.fs-18 {
  font-size: 18px !important; }

.text-dark {
  color: #000 !important; }

.underline {
  text-decoration: underline; }

.pseudo {
  border-bottom: 1px dotted; }

.modal-backdrop {
  /*background: rgba(23, 20, 16, .75);
  opacity: 1 !important;*/
  background: transparent; }

.modal .modal-content {
  background: rgba(96, 93, 93, 0.9);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4); }

.modal .modal-header {
  padding: 0; }

.modal .modal-dialog {
  max-width: 1150px; }

.modal .modal-body {
  padding: 40px 50px; }

.modal .close {
  right: 25px;
  top: 20px;
  width: 15px;
  height: 15px;
  padding: 0;
  position: absolute;
  opacity: 1;
  z-index: 999; }
  .modal .close:focus {
    outline: none; }
  .modal .close:before, .modal .close:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15px;
    background: #fff;
    left: 0;
    top: 10px; }
  .modal .close:before {
    transform: rotate(45deg); }
  .modal .close:after {
    transform: rotate(-45deg); }
  .modal .close span {
    display: none; }

.modal-header {
  border-bottom: none; }

.modal-content {
  border-radius: 0; }

.modal-footer {
  border-top: none;
  padding-bottom: 50px; }

.modal-order__title {
  text-align: center;
  color: #eed882;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 50px; }

.modal-order__ico {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 100px; }

.modal-order .modal-body {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: .1em; }

.modal-order__col {
  padding-bottom: 50px;
  position: relative; }

.modal-order__phone {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  font-size: 20px;
  color: #eed882;
  text-align: center; }
  .modal-order__phone span {
    padding: 0 15px;
    display: inline-block;
    vertical-align: top; }

.main {
  min-height: 100vh;
  font: 18px/28px 'RalewayRegular', sans-serif;
  overflow: hidden; }
  .main__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px; }
    @media (min-width: 1200px) {
      .main__img {
        height: 100%; } }
  .main__content {
    padding: 100px 40px 30px; }
    @media (min-width: 1200px) {
      .main__content {
        padding: 40px 90px 30px; } }
  .main__logo {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 35px;
    width: 160px; }
    .main__logo img {
      width: 100%; }
    .main__logo:focus {
      outline: none; }
  .main__text p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px; }

.gallery {
  padding: 50px 0 30px;
  overflow: hidden; }
  .gallery__logo {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 75px; }
    .gallery__logo img {
      width: 100%; }

.gallery-slider {
  margin-bottom: 40px;
  position: relative; }
  .gallery-slider__item {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (min-width: 576px) {
      .gallery-slider__item {
        height: 400px; } }
    @media (min-width: 768px) {
      .gallery-slider__item {
        height: 600px; } }
    .gallery-slider__item img {
      opacity: 0; }
  .gallery-slider .slick-slide {
    margin: 0 12px; }
    .gallery-slider .slick-slide:focus {
      outline: none; }
  .gallery-slider .slick-list {
    margin: 0 -12px; }
  .gallery-slider__nav button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 50px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    background: transparent;
    border: none; }
    @media (min-width: 768px) {
      .gallery-slider__nav button {
        width: 100px;
        height: 160px; } }
    .gallery-slider__nav button:focus {
      outline: none; }
    .gallery-slider__nav button.prev {
      left: 25px; }
    .gallery-slider__nav button.next {
      right: 25px; }
    .gallery-slider__nav button:before {
      position: absolute;
      content: '';
      width: 50px;
      height: 50px;
      top: 0;
      bottom: 0;
      margin: auto;
      border-left: 7px solid #fff;
      border-top: 7px solid #fff;
      transition: .3s;
      border-radius: 5px;
      opacity: .4; }
      @media (min-width: 768px) {
        .gallery-slider__nav button:before {
          width: 100px;
          height: 100px;
          border-left: 10px solid #fff;
          border-top: 10px solid #fff; } }
    .gallery-slider__nav button.prev:before {
      transform: rotate(-45deg);
      left: 20px; }
    .gallery-slider__nav button.next:before {
      transform: rotate(135deg);
      right: 20px; }
    .gallery-slider__nav button:hover:before {
      opacity: 1;
      border-color: #fff; }

.detail {
  padding: 0 40px; }
  @media (min-width: 1200px) {
    .detail {
      padding: 0 90px; } }
  .detail__text {
    margin-bottom: 50px; }
    .detail__text p {
      margin-bottom: 5px; }

.detail-slider {
  margin-bottom: 50px;
  position: relative; }
  .detail-slider__item {
    height: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .detail-slider .slick-slide {
    margin: 0 12px; }
    .detail-slider .slick-slide:focus {
      outline: none; }
  .detail-slider .slick-list {
    margin: 0 -12px; }
  .detail-slider__nav button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 50px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    background: transparent;
    border: none; }
    .detail-slider__nav button:focus {
      outline: none; }
    .detail-slider__nav button.prev {
      left: 15px; }
    .detail-slider__nav button.next {
      right: 15px; }
    .detail-slider__nav button:before {
      position: absolute;
      content: '';
      width: 50px;
      height: 50px;
      top: 0;
      bottom: 0;
      margin: auto;
      border-left: 7px solid #fff;
      border-top: 7px solid #fff;
      transition: .3s;
      border-radius: 5px;
      opacity: .4; }
    .detail-slider__nav button.prev:before {
      transform: rotate(-45deg);
      left: 20px; }
    .detail-slider__nav button.next:before {
      transform: rotate(135deg);
      right: 20px; }
    .detail-slider__nav button:hover:before {
      opacity: 1;
      border-color: #fff; }

.mfp-bg {
  background: rgba(23, 20, 16, 0.75);
  opacity: 1; }
